:root {
  --color-text-dark: #0f172a;
  --color-text-lighter: #1e293b;
  --color-background: #f8fafc;
  --container-width: 124rem;

  --box-shadow-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  --box-shadow-4: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Modern CSS reset by Andy Bell */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html {
  font-size: 62.5%;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--color-background);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media only screen and (max-width: 1280px) {
  .logo,
  .add-book,
  .library {
    padding: 0 2rem;
  }
}

.center {
  max-width: var(--container-width);
  margin-inline: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100px;
  font-size: 4rem;
  font-weight: 800;
  background-color: #fff;
  color: var(--color-text-dark);
  margin-bottom: 12rem;
  border-bottom: 1px solid #e2e8f0;
}

.logo {
  width: 100%;
  user-select: none;
  letter-spacing: 0.1ch;
}

.add-book {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #94a3b8;
  padding-bottom: 1.2rem;
}

.library-title {
  font-size: 3.6rem;
  letter-spacing: 0.15ch;
}

.library {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin-top: 2.4rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  text-align: center;
  border-radius: 7px;
  box-shadow: var(--box-shadow-3);
  padding: 2.4rem;
  font-size: 2.2rem;
  transition: opacity 0.4s ease-in-out;
}

.title {
  line-height: 1;
}

.title,
.by {
  font-style: italic;
  letter-spacing: 0.1ch;
}

.author {
  letter-spacing: 0.1ch;
}

.pages {
  margin-bottom: 1rem;
}

/* Horizontal Line */
.hr {
  margin-top: auto;
  width: 100%;
  border-bottom: 1px solid #e2e8f0;
  margin-bottom: 1rem;
}

.btn {
  cursor: pointer;
  font-size: 2.4rem;
  padding: 1rem 2rem;
  border: none;
  background-color: var(--color-background);
  color: var(--color-text-dark);
  font-weight: 600;
  border-radius: 11px;
}

.btn:hover,
.btn:active {
  background-color: var(--color-text-dark);
  color: var(--color-background);
}

.card button:not(:last-child) {
  margin-bottom: 0.75rem;
}

/* "not read" status */
.card button.not-read {
  background-color: #fee2e2;
  color: #991b1b;
}

.card button.not-read:hover {
  background-color: #fecaca;
  color: #991b1b;
}
/* "read" status */
.card button.read {
  background-color: #d1fae5;
  color: #065f46;
}

.card button.read:hover {
  background-color: #a7f3d0;
  color: #065f46;
}

/* delete button  */
.card .btn-delete {
  background-color: #ffffff;
  color: #475569;
}

.card .btn-delete:hover {
  outline: 2px solid #b91c1c;
  background-color: #fff;
  color: #b91c1c;
}

/* MODAL */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: var(--color-background);
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: opacity 0.5s;
}

.modal__header {
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
  text-align: center;
}

.modal__form {
  margin: 0 2rem;
}

.modal__form label {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
  /* margin-bottom: 1rem; */
}

.modal__form input {
  display: block;
  font-size: 2.4rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin-bottom: 2.4rem;
}

.modal__form button {
  margin-top: 1rem;
  width: 100%;
  display: block;
}

.modal__form input[type="checkbox"] {
  cursor: pointer;
  display: block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.modal__checkbox {
  display: flex;
}

.btn-modal {
  background-color: var(--color-text-dark);
  color: var(--color-background);
}

.btn-modal:hover {
  background-color: #1e293b;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -46%);
}
